<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
</head>
<body>
  <header>
    <h1>{{ config.title }}</h1>
    <nav><a href="{{ config.base_url }}">Home</a></nav>
  </header>
  <main>
    {% block content %}{% endblock content %}
  </main>
  <footer>
    <nav class="webrings" aria-label="webrings">
      <div class="webring">
        <a class="trigger trigger-l" href="https://nixwebr.ing/prev/lags" aria-label="previous site in the nix webring"><span class="tri tri-l"></span>L</a>
        <a class="webring-logo" href="https://nixwebr.ing"><img src="{{ get_url(path='nix-webring.svg') }}" alt="nix webring"></a>
        <a class="trigger trigger-r" href="https://nixwebr.ing/next/lags" aria-label="next site in the nix webring">R<span class="tri tri-r"></span></a>
      </div>
    </nav>
  </footer>
</body>
</html>
